<article class="blog-post">
  <div class="blog-header">
    <a class="blog-title-a" href="/post/{{id}}"><p class="blog-title btn">{{title}}</p></a>
    <aside>
      <h3>Category:</h3>
      <button value="{{category.category_name}}" class="category btn">
        {{category.category_name}}
      </button>
    </aside>
    
  </div>
  <div class="meta main-blog">
    <div class="left-blog">
      <p>{{content}}</p>
      {{!-- <div id="map"></div> --}}
      <div id="map_{{id}}" class="map"></div>
    </div>
    <section aria-label="Newest Photos" class="carousel-container">
      <div class="carousel-blog" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
        <ul data-slides>
          {{#each images as | image |}}
          <li class="slide-blog">
            <img src="{{image}}" class="d-block w-100" alt="Vacation pictures">
          </li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
  <div class="meta">
    {{vote_count}} <i class="fa-solid fa-thumbs-up"></i> {{format_plural "like" vote_count}} by {{user.username}} on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>